<%inherit file="base.html"/>

<div class="assembly ${'match' if assembly.does_match else ''}">
    <div style="clear: both;"><a href="${assembly.url}">${assembly.url}</a></div>
    <div class="row"><span class="label">Date:</span><span>${assembly.date}</span></div>
    %if assembly.start_time:
        <div class="row">
            <span class="label">Tijd:</span>
            <span class="start-time">${assembly.start_time}</span>
            %if assembly.end_time: 
                <span>- <span class="end-time">${assembly.end_time}</span></span>
            %endif
            </div>
    %endif
    %if assembly.parlisnumber:
        <div class="row"><span class="label">Nummer:</span><span>${assembly.parlisnumber}</span></div>
    %endif
    %if assembly.status:
        <div class="row"><span class="label">Status:</span><span>${assembly.status}</span></div>
    %endif
    %if assembly.is_public:
        <div class="row"><span class="label">Publiek:</span><span>${assembly.is_public}</span></div>
    %endif
    %if assembly.location:
        <div class="row"><span class="label">Plaats:</span><span>${assembly.location}</span></div>
    %endif
    %if assembly.type:
        <div class="row"><span class="label">Soort:</span><span>${assembly.type}</span></div>
    %endif
    %if assembly.committee:
        <div class="row"><span class="label">Committee:</span><span>${assembly.committee}</span></div>
    %endif
    %if assembly.summary:
        <div class="row"><span class="label">Samenvatting:</span><span>${assembly.summary}</span></div>
    %endif
    %if len(assembly.keywords_matched) > 0:
        <div class="row"><span class="label">Zoekwoorden gevonden:</span><span>${", ".join(assembly.keywords_matched)}</span></div>
    %endif
    <div class="details">
<pre style="white-space: pre-wrap;">
${assembly.details_text}
</pre>
    </div>
